<footer class="site-footer">

<div class="container"> 
      <div class="col-md-6 col-sm-6 col-xs-12 footer-left-block">
        <div id="feedback">
         <p>“Apexure have done a great job in delivering a professional website for me in creative and cost-effective ways.<p>

         <p>Waseem worked closely with me and did a great job in understanding the requirements. I am impressed by his innovative idea and creative design.</p>

          <strong class="name">Kefeng Zhang</strong>
          Founder Kacoh

      </div>
      </div>

      <div class="col-md-5 col-sm-6 col-xs-12 footer-right-block">
        <h3>Contact</h3>
        <ul>
          <li>London HA3 9PY</li>
          <li><i class="fa fa-phone"></i> +44 (0) 20 8050 2404</li>
          <li><i class="fa fa-envelope"></i> info@apexure.com</li>
       <ul>

        <h3>Connect with Us</h3>
          <a href="https://www.linkedin.com/company/apexure" target="_blank"><i class="fa fa-linkedin-square"></i></a> <a href="https://twitter.com/apexure" target="_blank"><i class="fa fa-twitter-square"></i></a> <a href="https://www.facebook.com/Apexure/" target="_blank"><i class="fa fa-facebook-square"></i></a> <a href="https://www.instagram.com/apexure/" target="_blank"><i class="fa fa-instagram"></i></a>
  </div>

</footer>
